/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  background-color: #477aa7; /* your color */
  font-family: Arial, sans-serif;
}
